.showCard{
    display: flex;
    flex-wrap: wrap;
}
.fil{
    margin-left: 15px;
    margin-right: 15px;
}
.btn{
    height: 35px;
    width: 60px;
    margin: 15px 10px 15px 10px;
    background-color: greenyellow;
    border-radius: 4px;
    border: none;
    font-weight: bolder;
}
.app{
    max-width: 100vw;
    max-height: 100vh;
}
.mainbox{
    display: flex;

}
.Filters{
    width: 200px;
    text-align: center;
    box-sizing: border-box;
}
.filterrow{
display: flex;
}