.container{
    background-color:rgb(230, 220, 220);
    max-width: 500px;
    width:20vw;
    display: block;
    margin: 12px 12px 12px 12px;

}
.Heading{
    font-weight: bolder;
    color: rgb(36, 57, 248);
}
.Banner {

     width: 200px;
     height: 200px;
}
.generic{
    font-weight:bolder;
    color: #696969;
    size: 25px;
}
.truefalse{
    display: inline;
}